<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mod-styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex navBase">
            <ul class="flex navList">
                <li class="navItem headerText"><a class="navLink headerText lightGreen" href="/user/profile">My Games</a></li>
                <li class="navItem headerText"><a class='navLink headerText lightGreen' href="/games/search">Search</a></li>                    
            </ul>
            <img id="userIcon" class="userAvatar" src="https://cdn.discordapp.com/avatars/<%=id%>/<%=avatar%>.png">
        </nav>        
    </header>
    <div class="flex logoutContainer">
        <section id="menuSection" class="userOptions flex">
            <span id="menuName" class="headerText darkShadow lightGreen"><%=name%></span>
            <button id="logoutBtn" type="button" class="simpleBtn lightGreen">Logout</button>
        </section>
    </div>
    <section class="titleContainer">
        <h1 class="center gameHeader"><%=game.name%></h1>
    </section> 
    <section class="main">
        <div class="imgProfile" style="background-image:url('<%= game.background_image %>')">
            <div class="overProfile flex">
                <section class="gameProfile">
                    <h2 data-id="<%=game.id%>" class="headerText">Join the list to find friends!</h2>
                    <h2 class="headerText">How many hours have you played <%=game.name%>:</h2>
                    <form class="hoursForm center" action="/games/addGame" method="POST">
                        <input class="barInput headerText darkText" type="text" placeholder="200" name="hoursPlayed">
                        <input type="hidden" name="slug" value="<%=game.slug%>">
                        <button class="hoursInput barBtn simpleBtn lightGreen"type="submit">Add Game</button>
                    </form>
                </section> 
            </div>
        </div>
    </section>
    
    
   
    
    <script src="/js/main.js"></script>
</body>
</html>