<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="flex">
            <ul class="flex navList">
                <li class="navItem"><a href="/user/profile">My Games</a></li>
                <li class="navItem"><a href="/games/search">Search</a></li>                    
            </ul>
            <img id="userIcon" class="userNav userAvatar" src="https://cdn.discordapp.com/avatars/<%=id%>/<%=avatar%>.png">
        </nav>        
    </header>
    <div class=" logoutContainer">
        <div class="spacingDiv"></div>
        <section id="menuSection" class="hidden menuShow">
            <span id="menuName" class="menuName"><%=name%></span>
            <button id="menuBtn" type="button" class="logoutBtn">Logout</button>
        </section>
    </div>
    <section class="main">
        <section class="gameMain">
            <h1><%= game.name %></h1>
            <img class="gameImg" src="<%= game.background_image %>" alt="">  
            <section class="addFriend">
                <h3>Find your PlayerToo:</h3>
                <ul class="users">
                    <% users.forEach(e => { %>
                        <li class="matchedResults">
                            <span><%= e.username %></span>
                        </li>
        
                    <%})%>
                </ul>
            </section>
        </section>
        <section class="gameDescriptionContainer">
            <p class="gameDescription"><%=game.description_raw%></p>
        </section>
        
    </section>
    
    
    
   
    
    <script src="/js/main.js"></script>
</body>
</html>