<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= name %>, let's add some games to your list! </h1>

    <form action="/games/search" method="GET">
        <input type="text" name="gameName">
        <button type="submit">Search</button>
    </form>
    <ul class="games">
            <li class="gameCard">
                <a href="/games/profile/<%=game.name%>"><span class="gameTitle" data-id="<%=game.id%>"><%= game.name %></span></a>
                <img class="gameImg" src="<%= game.background_image %>" alt="">
            </li>
    </ul>
    
</body>
</html>