<%- include('partials/header') -%>
    <section class="titleContainer">
        <h1 class="center gameHeader"><%=game.name%></h1>
    </section> 
    <section class="main">
        <div class="imgProfile" style="background-image:url('<%= game.background_image %>')">
            <div class="overProfile flex">
                <section class="gameProfile center">
                    <h2 data-id="<%=game.id%>" class="headerText">Join the list to find friends!</h2>
                    <h2 class="headerText">How many hours have you played <%=game.name%>:</h2>
                    <form class="hoursForm center" action="/games/addGame" method="POST">
                        <div class="flex searchBar">
                            <input class="barInput headerText darkText" type="text" placeholder="200" name="hoursPlayed">
                            <input type="hidden" name="name" value="<%=game.name%>">
                            <input type="hidden" name="slug" value="<%=game.slug%>">
                            <button class="barBtn simpleBtn lightGreen"type="submit">Submit</button>
                        </div>
                        
                    </form>
                </section> 
            </div>
        </div>
    </section>
<%- include('partials/footer') -%>  
    <script src="/js/main.js"></script>
</body>
</html>