<%- include('partials/header') -%>
    <section class="titleContainer">
        <h1 class="center gameHeader"><%=game.name%></h1>
    </section> 
    <section class="main">
        <div class="imgProfile" style="background-image:url('<%= game.background_image %>')">
            <div class="overProfile flex">
                <section class="gameProfile">
                    <section class="main">
                        <section class="gameMain">  
                            <section class="addFriend">
                                <h3 class="headerText">Find your PlayerToo:</h3>
                                <ul class="headerText users">
                                <%friend.forEach(friend => { %>
                                    <li class="matchedResults">
                                        <a class="noLink" href="/user/friend-profile/<%=friend.friendId%>"><span><%=friend.username%></span></a>
                                    </li>
                                <%})%>
                                </ul>
                            </section>
                        </section>
                    </section>
                </section> 
            </div>
        </div>
    </section>
<%- include('partials/footer') -%>
    <script src="/js/main.js"></script>
</body>
</html>