<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex">
            <ul class="flex navList">
                <li class="navItem"><a href="/user/profile">My Games</a></li>
                <li class="navItem"><a href="/games/search">Search</a></li>                    
            </ul>
            <img id="userIcon" class="userNav userAvatar" src="https://cdn.discordapp.com/avatars/<%=id%>/<%=avatar%>.png">
        </nav>        
    </header>
    <div class=" logoutContainer">
        <div class="spacingDiv"></div>
        <section id="menuSection" class="hidden menuShow">
            <span id="menuName" class=""><%=name%></span>
            <button id="menuBtn" type="button" class="logoutBtn">Logout</button>
        </section>
    </div>
    <!-- avatars/user_id/user_avatar.png  -->
    
    <form action="/games/search" method="GET">
        <input class="searchBar" type="text" name="gameName">
        <button class=""type="submit">Search</button>
    </form>
    <ul class="games">
        <% for(let i = 0; i < games.length ; i++) { %>
            <li class="gameCard">
                <a class="titleLink" href="/games/profile/<%=games[i].slug%>"><span class="gameTitle" data-id="<%=games[i].id%>"><%= games[i].name %></span></a>
                <img class="gameImg" src="<%= games[i].background_image %>" alt="">
            </li>
        <%}%>
    </ul>
    <script src="/js/main.js"></script>
</body>
</html>