<%- include('partials/header') -%>
    <form class="searchForm center"action="/games/search" method="GET">
        <legend class="headerText darkShadow lightGreen">Search games. Find friends!</legend>
        <div class="flex center searchBar">
            <input class="barInput headerText darkText" type="text" name="gameName">
            <button class="barBtn simpleBtn lightGreen"type="submit">Search</button>
        </div>
        
    </form>
    <ul class="flex games">
        <% for(let i = 0; i < games.length ; i++) { %>
            <li class="gameCard">
                <a class="navLink headerText lightGreen" href="/games/profile/<%=games[i].slug%>">
                    <div class="imgContainer" style="background-image:url('<%= games[i].background_image %>')">
                        <div class="overShadow">
                            <span class="gameTitle center" data-id="<%=games[i].id%>"><%= games[i].name %></span>
                        </div>
                    </div>
                </a>
                
            </li>
        <%}%>
    </ul>
<%- include('partials/footer') -%>
    <script src="/js/main.js"></script>
</body>
</html>