<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mod-styles.css">
    <title>PlayerToo</title>
</head>
<body>
    <header class="header">
        <nav class="flex navBase">
            <ul class="flex navList">
                <li class="navItem headerText"><a class="navLink headerText lightGreen" href="/user/profile">My Games</a></li>
                <li class="navItem headerText"><a class='navLink headerText lightGreen' href="/games/search">Search</a></li>                    
            </ul>
            <img id="userIcon" class="userAvatar" src="https://cdn.discordapp.com/avatars/<%=id%>/<%=avatar%>.png">
        </nav>        
    </header>
    <div class="flex logoutContainer">
        <section id="menuSection" class="userOptions flex">
            <span id="menuName" class="headerText darkShadow lightGreen"><%=name%></span>
            <form action="/user/logout" method="POST">
                <button id="logoutBtn" type="submit" class="simpleBtn lightGreen">Logout</button>
            </form>
            
        </section>
    </div>
    <section>
        <ul class="flex center listOfGames">
            <% games.forEach( e => { %>
                <li data-name="<%=e.name%>" class="updateCard flex headerText">
                    <a class="headerText gameLink" href="/games/profile/<%=e.name%>"><span class="headerText"><%= e.name %></span></a> 
                    <form action="/user/updateHours/<%=e._id%>?_method=PUT" method="POST">
                        <input name="hours"placeholder="<%=e.hours%>"class='headerText darkText barInput'>
                        <button type="submit" class="hoursInput barBtn simpleBtn lightGreen">Update Hours</button>
                    </form>
                    <span class="deleteSpan">Remove game from "My Games": 
                        <form action="/user/delete-game/<%=e._id%>?_method=DELETE" method="POST">
                            <button class="simpleBtn deleteBtn" type="submit">Delete</button>    
                        </form>
                    </span>
                </li>
            <%})%>
        </ul>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>